<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl95.ssm.dao.StateReportMapper">
  <resultMap id="BaseResultMap" type="com.hl95.ssm.entity.StateReport">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="PlatForm" jdbcType="VARCHAR" property="platform" />
    <result column="FUnikey" jdbcType="VARCHAR" property="funikey" />
    <result column="FOrgAddr" jdbcType="VARCHAR" property="forgaddr" />
    <result column="FDestAddr" jdbcType="VARCHAR" property="fdestaddr" />
    <result column="FSubmitTime" jdbcType="VARCHAR" property="fsubmittime" />
    <result column="FFeeTerminal" jdbcType="VARCHAR" property="ffeeterminal" />
    <result column="FServiceUPID" jdbcType="VARCHAR" property="fserviceupid" />
    <result column="FReportCode" jdbcType="VARCHAR" property="freportcode" />
    <result column="FLinkID" jdbcType="VARCHAR" property="flinkid" />
    <result column="FAckStatus" jdbcType="VARCHAR" property="fackstatus" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statereport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hl95.ssm.entity.StateReport">
    insert into statereport (id, PlatForm, FUnikey, 
      FOrgAddr, FDestAddr, FSubmitTime, 
      FFeeTerminal, FServiceUPID, FReportCode, 
      FLinkID, FAckStatus, state, 
      reason)
    values (#{id,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{funikey,jdbcType=VARCHAR},
      #{forgaddr,jdbcType=VARCHAR}, #{fdestaddr,jdbcType=VARCHAR}, #{fsubmittime,jdbcType=VARCHAR}, 
      #{ffeeterminal,jdbcType=VARCHAR}, #{fserviceupid,jdbcType=VARCHAR}, #{freportcode,jdbcType=VARCHAR}, 
      #{flinkid,jdbcType=VARCHAR}, #{fackstatus,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl95.ssm.entity.StateReport">
    update statereport
    set PlatForm = #{platform,jdbcType=VARCHAR},
      FUnikey = #{funikey,jdbcType=VARCHAR},
      FOrgAddr = #{forgaddr,jdbcType=VARCHAR},
      FDestAddr = #{fdestaddr,jdbcType=VARCHAR},
      FSubmitTime = #{fsubmittime,jdbcType=VARCHAR},
      FFeeTerminal = #{ffeeterminal,jdbcType=VARCHAR},
      FServiceUPID = #{fserviceupid,jdbcType=VARCHAR},
      FReportCode = #{freportcode,jdbcType=VARCHAR},
      FLinkID = #{flinkid,jdbcType=VARCHAR},
      FAckStatus = #{fackstatus,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="string" resultMap="BaseResultMap">
    select id, PlatForm, FUnikey, FOrgAddr, FDestAddr, FSubmitTime, FFeeTerminal, FServiceUPID, 
    FReportCode, FLinkID, FAckStatus, state, reason
    from statereport
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, PlatForm, FUnikey, FOrgAddr, FDestAddr, FSubmitTime, FFeeTerminal, FServiceUPID, 
    FReportCode, FLinkID, FAckStatus, state, reason
    from statereport
  </select>



  <resultMap id="ResultMap" type="java.util.Map">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="FLinkID" jdbcType="INTEGER" property="rrid" />
    <result column="FReportCode" jdbcType="VARCHAR" property="status" />
    <result column="FSubmitTime" jdbcType="VARCHAR" property="datetime" />
    <result column="FDestAddr" jdbcType="VARCHAR" property="mobile" />
    <result column="FOrgAddr" jdbcType="VARCHAR" property="ext" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />

    <result column="PlatForm" jdbcType="VARCHAR" property="platform" />
    <result column="FUnikey" jdbcType="VARCHAR" property="funikey" />
    <result column="FFeeTerminal" jdbcType="VARCHAR" property="ffeeterminal" />
    <result column="FServiceUPID" jdbcType="INTEGER" property="fserviceupid" />
    <result column="FAckStatus" jdbcType="VARCHAR" property="fackstatus" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <select id="getReports" resultMap="ResultMap">
    select FLinkID, FReportCode, FSubmitTime, FDestAddr,FOrgAddr,reason,id
    from statereport where state='0' limit 50
  </select>


  <update id="updateReports" parameterType="list">
    update statereport
    set
      state = '1'
    where id in (
    <if test="list==null or list.size==0">
      ''
    </if>
    <foreach collection="list"  separator="," index="index" item="item">
      #{item.id}
    </foreach>
    )
  </update>



  <insert id="saveReport" parameterType="map">
    insert into statereport (id, PlatForm, FUnikey,
      FOrgAddr, FDestAddr, FSubmitTime,
      FFeeTerminal, FServiceUPID, FReportCode,
      FLinkID, FAckStatus, state,
      reason)
    values (
    (select replace(UUID(),'-','')),
    #{PlatForm,jdbcType=VARCHAR},
    #{FUnikey,jdbcType=VARCHAR},
    #{FOrgAddr,jdbcType=VARCHAR},
    #{FDestAddr,jdbcType=VARCHAR},
    #{FSubmitTime,jdbcType=VARCHAR},
    #{FFeeTerminal,jdbcType=VARCHAR},
    #{FServiceUPID,jdbcType=VARCHAR},
    #{FReportCode,jdbcType=VARCHAR},
    #{FLinkID,jdbcType=VARCHAR},
    #{FAckStatus,jdbcType=VARCHAR},
    #{state,jdbcType=VARCHAR},
    #{reason,jdbcType=VARCHAR})
  </insert>
</mapper>